.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-item {
    border: 1px solid #ddd;
    padding: 15px;
    width: 20%;
    text-align: center;
    background-color: bisque;
    height: auto;
  }
  
  .product-image {
    width: 50%;
    height: auto;
  }
  
  .gallery {
    display: flex;
    gap: 5px;
    margin: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .gallery-image {
    width: 20%;
    height: 20%;
    object-fit: cover;
  }
  
  button {
    font-size: 8px;
    padding: 5px 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10%;
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
    width: auto;
    height: auto;
  }
  
  p {
    font-size: 8px;
  }
  
  .checked {
    color: orange;
  }
  
  h2 {
    font-size: 12px;
  }
  
  a {
    text-decoration: none;
    font-size: 10px;

  }
  